<!--
    file: views/menu/dish.cshtml
    Shows details for a specific menu item
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit (HTML)
        display dish from database
-->
@{
    ViewBag.Title = "Dish";
}

@using DuneRestaurant.Models
@model Dish

<div class="row">
    <div class="col-md-6">
        <img class="shadow" src="~/Assets/Images/porkandpepper.png" alt="Pork and Pepper" />
    </div>
    <div class="col-md-6">
        <h2>
            @Model.Name
        </h2>
        <p>
            @Model.Description_Long
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="/Cart/Add?DishId=@Model.DishID">Add to Cart</a> 
            <a class="btn btn-primary btn-large" href="/Menu">Back</a> 
        </p>
    </div>
</div>