<!--
    file: views/menu/index.cshtml
    Shows all menu items
    author: Douglas Brunner, Alex Nicholls
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit (HTML)
        display menu items from database
        added dishID to query parameter
        added add capability to the menu
-->

@{
    ViewBag.Title = "Index";
}

@using DuneRestaurant.Models
@model IEnumerable<Dish>


<h1>Menu</h1>

<div class="container">
    <p>
        @Html.ActionLink("Add New", "Add")
    </p>
    @foreach (Dish item in Model)
    {

        // create the thumbnail URL
        var thumbURL = @item.URL + "_thumb.png";

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="/Menu/Dish?dishID=@item.DishID">
                    <img alt="Bootstrap Thumbnail First" src="~/Assets/Images/@thumbURL" />
                </a>
                <div class="caption">
                    <h3>
                        <a href="/Menu/Dish?dishID=@item.DishID">@item.Name</a>
                    </h3>
                    <p>
                        @item.Description_Short
                    </p>
                    <p>
                        <a class="btn btn-primary" href="/Cart/Add?dishID=@item.DishID">Add to Cart</a> $@item.Price
                    </p>
                </div>
            </div>
        </div>

    }
</div>