<!--
    file: content/site.css
    Sitewide stylees
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        implemented wireframe
-->

@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <h1>The Dune Team</h1>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img src="" alt="Douglas Brunner" />
            </div>
            <h4>Douglas Brunner</h4>
            <p>Ad eos igitur converte te, quaeso. An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia? Neque enim civitas in seditione beata esse potest nec in discordia dominorum domu.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img src="" alt="Sukhmanbir Kaur" />
            </div>
            <h4>Sukhmanbir Kaur</h4>
            <p>Certe, nisi voluptatem tanti aestimaretis. Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Videsne quam sit magna dissensio?</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img src="" alt="Alexandra Nicholls" />
            </div>
            <h4>Alexandra Nicholls</h4>
            <p>Hos contra singulos dici est melius. Quid ergo hoc loco intellegit honestum? Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Ergo ita: non posse honeste vivi, nisi honeste vivatur?</p>
        </div>
    </div>
</div>