<!--
    file: views/home/index.css
    Sitewide stylees
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        implemented wireframe
-->

@{
    ViewBag.Title = "Home Page";
}

<div class="container" id="homepage">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="~/Assets/Images/restaurant-inside.jpeg" alt="Dune Restaurant Dining Area" />
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si id dicis, vicimus. Sed quae tandem ista ratio est? Comprehensum, quod cognitum non habet? Quicquid porro animo cernimus, id omne oritur a sensibus; Si enim ad populum me vocas, eum. Duo Reges: constructio interrete. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Non quam nostram quidem, inquit Pomponius iocans; Ad eas enim res ab Epicuro praecepta dantur. Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h1 class="text-center">The Dune Restanrant</h1>
            <p class="text-center slogan">The best of Asia.</p>
            <h4>Authentic Cuisine</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si id dicis, vicimus. Sed quae tandem ista ratio est? Comprehensum, quod cognitum non habet? Quicquid porro animo cernimus.
            </p>
            <h4>Refined Dining</h4>
            <p>
                Non quam nostram quidem, inquit Pomponius iocans; Ad eas enim res ab Epicuro praecepta dantur. Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia.
            </p>
        </div>
    </div>
</div>