<!--
    file: views/cart/add.cshtml
    Page for adding item to shopping cart
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
        show confirmation message
-->

@{
    ViewBag.Title = "Add";
}

<h2>Item Added</h2>

<p>Your item has been added to the cart.</p>
<a class="btn btn-primary" href="/Menu">Return to menu</a>
