<!--
    file: views/cart/add.cshtml
    Page for adding item to shopping cart
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->

@{
    ViewBag.Title = "Add";
}

<h2>Add Dish to Cart</h2>

