<!--
    file: views/cart/checkout.cshtml
    Page for making final purchase
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->


@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

