<!--
    file: views/cart/checkout.cshtml
    Page for making final purchase
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->


@{
    ViewBag.Title = "Checkout";

    // used to estimate delivery time
    var totalItemsOrdered = 0;
    var totalPrice = 0.0m;
}

@using DuneRestaurant.Models
@model IEnumerable<CartView>

<h2>Checkout</h2>

<div class="container checkout">
    <div class="row">
        <h4>How would you like to pay?</h4>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio" checked="true">Debit</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Credit</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Cash</label>
    </div>
</div>

@foreach (CartView item in Model)
            {

                var total = @item.Price * @item.Quantity;
                @totalItemsOrdered += @item.Quantity;
                @totalPrice += @total;
}

<div class="container pull-right">
    <div class="row">
        <h3>Total Price: $@totalPrice</h3>
    </div>
    <div class="row pull-right">
        <a class="btn btn-primary" href="/Cart/ConfirmOrder">Checkout</a>
    </div>
</div>