
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order has been successfully placed!</p>
<p>
    How about shopping for some more incredible food in our
    @Html.ActionLink("menu",
"Index", "Menu")
</p>