<!--
    file: views/cart/confirmorder.cshtml
    Page for order summary
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->

@{
    ViewBag.Title = "ConfirmOrder";
}

<h2>ConfirmOrder</h2>

