<!--
    file: views/cart/delete.cshtml
    Page for confirming deletion of shopping cart item
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->


@{
    ViewBag.Title = "Delete";
}

<h2>Delete Dish</h2>

