<!--
    file: views/cart/index.cshtml
    Page for viewing shopping cart items
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->


@{
    ViewBag.Title = "Index";
}

<h2>Items in Cart</h2>

