<!--
    file: views/cart/index.cshtml
    Page for viewing shopping cart items
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->


@{
    ViewBag.Title = "Index";
}

<h2>Items in Cart</h2>

<div class="container pull-right edit">
        <a class="btn btn-primary" href="/Cart/Update">Edit Cart</a>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pork and Peppers</td>
                <td>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
                <td>$12.95</td>
            </tr>
            <tr>
                <td>Fishhead Soup</td>
                <td>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
                <td>$12.95</td>
            </tr>
            <tr>
                <td>Sweet adn Sour Chicken Balls</td>
                <td>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
                <td>$12.95</td>
            </tr>
            <tr>
                <td>Onion Rings</td>
                <td>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
                <td>$12.95</td>
            </tr>
            <tr>
                <td>Spaghetti</td>
                <td>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
                <td>$12.95</td>
            </tr>
            <tr>
                <td>Lasagna</td>
                <td>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
                <td>$12.95</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container pull-right">
    <div class="row">
        <h3>Total Price: $77.70</h3>
    </div>
    <div class="row pull-right">
        <a class="btn btn-primary" href="/Cart/Checkout">Checkout</a>
    </div>
</div>