<!--
    file: views/cart/update.cshtml
    Page for updating shopping cart items
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
-->

@{
    ViewBag.Title = "Update";
}

<h2>Update Cart</h2>

